/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2020, 7:31:04 PM
    Author     : Deepika
*/

h4:before {
    background: #286090;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 60%;
    margin: 0 20%;
}
h4{
    position: relative;
    text-align: center;
    font-family: 'proxima_novaregular';
    font-size: 30px;
    color: #020b58;
    margin: 30px 0px 20px 0px;
    padding: 0px;
}
h4 span {
    background: #f3f7f8;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    color: #020b58;
    font-size: 36px;
}